.video-main-container{
    background-color: #181818;
    height: calc(100vh - 76px);
    overflow-y: scroll;
    margin: 0px; padding: 0px;
    position: relative;
}

.filter{
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    display: flex;
    padding: 10px;
}

.my-badge{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #373737;
    color: white;
    border: 1px solid #333333;
    margin-right: 15px;
}

.my-badge.active{
    background-color: white;
    color: #373737;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-list-container{
    background-color: #181818;
    padding: 20px 50px;
    height: calc(100vh - 133px);
    overflow-y: scroll;
}

.video-list-container::-webkit-scrollbar {
    display: none;
}

.video-item{
    cursor: pointer;
    display: flex;
    padding: 5px;
}

.video{
    flex: 1;
}